<footer class="footer">
  <div class="container">
    <span class="text-muted">{{ 'footer.project' | translate }} <i class="fa fa-copyright fa-fw" aria-hidden="true"></i> 2016</span>
  </div>
  <div class="container">
    <ul class="list-inline">
      <!-- TODO: create Prometheus social media pages and link to them here -->
      <li class="list-inline-item"><a class="navbar-brand" href="http://facebook.com"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
      <li class="list-inline-item"><a class="navbar-brand" href="http://linkedin.com"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
      <li class="list-inline-item"><a class="navbar-brand" href="https://plus.google.com/"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
      <li class="list-inline-item"><a class="navbar-brand" href="https://twitter.com/"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
    </ul>
  </div>
</footer>
