<div class="card-content" [@collapse]="collapsed" [ngClass]="{'card-collapsed': collapsed}">
  <div class="card-block">
    <div *ngIf="canEdit()" class="card-control pull-right">
      <button class="btn btn-default card-control" (click)="editCard()" placement="bottom" ngbTooltip="{{ 'sidebar.control.editCard' | translate }}" container="body">
        <i class="fa fa-pencil" aria-hidden="true"></i>
      </button>
      <button class="btn btn-danger card-control" (click)="removeCard()" placement="bottom" ngbTooltip="{{ 'sidebar.control.removeCard' | translate }}" container="body">
        <i class="fa fa-minus" aria-hidden="true"></i>
      </button>
    </div>
    <h4 class="card-title">{{ sidecard.title | translate }}</h4>
    <p *ngIf="sidecard.info" class="card-text">{{ sidecard.info | translate }}</p>
  </div>
  <ul *ngIf="sidecard.links.length > 0 || canEdit()" class="list-group list-group-flush">
    <!-- links -->
    <li *ngFor="let link of sidecard.links | orderBy: ['+id']" class="list-group-item">
      <div *ngIf="canEdit()" class="link-control pull-right">
        <i class="link-control fa fa-pencil" aria-hidden="true" (click)="editLink(link)" placement="bottom" ngbTooltip="{{ 'sidebar.control.editLink' | translate }}" container="body"></i>
        <i class="link-control fa fa-minus text-danger" aria-hidden="true" (click)="removeLink(link)" placement="bottom" ngbTooltip="{{ 'sidebar.control.removeLink' | translate }}" container="body"></i>
      </div>
      <a *ngIf="!link.external" class="card-link" routerLink="{{link.destination}}"><i class="{{link.icon}}" aria-hidden="true"></i> {{ link.label | translate }}</a>
      <!-- TODO: ensure href has http:// -->
      <a *ngIf="link.external" class="card-link" target="_blank" href="http://{{link.destination}}"><i class="{{link.icon}}" aria-hidden="true"></i> {{ link.label | translate }}</a>
    </li>
    <!-- add links -->
    <li *ngIf="canEdit()" class="list-group-item editing">
      <div class="link-control pull-right">
        <i class="link-control fa fa-plus" (click)="addLink()" placement="bottom" ngbTooltip="{{ 'sidebar.control.addLink' | translate }}" container="body" aria-hidden="true"></i>
      </div>
      <span class="card-link">{{ 'sidebar.control.addLink' | translate }}</span>
    </li>
  </ul>
</div>
